In [1]:
import pandas as pd

In [2]:
csv_path = "/home/ubuntu/hwpg-ae/analysis_ae/csp_results_1736714139.csv" # -> With new method and request error mitigated

df = pd.read_csv(csv_path)
display(df)
print("With error", len(df[~df["error"].isnull()]))
display(df[~df["error"].isnull()])

df = df[df["error"].isnull()]

                   origin  GT  False GT  False on GT  PG  WARC  HAR  error
0  http_localtest.me:8000   1         0            0   1     1    1    NaN

With error 0

Empty DataFrame
Columns: [origin, GT, False GT, False on GT, PG, WARC, HAR, error]
Index: []

In [3]:
print("Total", len(df))
print("PG (in paper)", len(df[df["PG"] > 0]))
print("Smurf (in paper)", len(df[df["GT"] > 0]))
print("HAR Smurf (in paper)", len(df[df["HAR"] > 0]))
print("WARC Smurf (in paper)", len(df[df["WARC"] > 0]))
print("----")
print("False false Smurf:", len(df[(df["False GT"] > 0)]))
print("False Smurf:", len(df[(df["GT"] == 0) & (df["False GT"] > 0)]))
print("Correct Smurf:", len(df[(df["GT"] > 0) & (df["False GT"] > 0)]))
print("All Smurf_1 (in paper):", len(df[(df["GT"] > 0) | (df["False GT"] > 0)]))
print("False Smurf (vs. PG):", len(df[(df["PG"] == 0) & (df["False GT"] > 0)]))
print("Correct Smurf (vs. PG):", len(df[(df["PG"] > 0) & (df["False GT"] > 0)]))
print("----")
print(len(df[(df["GT"] > 0) & (df["PG"] == 0)]))
print(len(df[(df["GT"] == 0) & (df["PG"] > 0)]))

Total 1
PG (in paper) 1
Smurf (in paper) 1
HAR Smurf (in paper) 1
WARC Smurf (in paper) 1
----
False false Smurf: 0
False Smurf: 0
Correct Smurf: 0
All Smurf_1 (in paper): 1
False Smurf (vs. PG): 0
Correct Smurf (vs. PG): 0
----
0
0

In [5]:
df[df["GT"] > 0]

                   origin  GT  False GT  False on GT  PG  WARC  HAR  error
0  http_localtest.me:8000   1         0            0   1     1    1    NaN

In [6]:
df[(df["GT"] > 0) & (df["False GT"] > 0)]

Empty DataFrame
Columns: [origin, GT, False GT, False on GT, PG, WARC, HAR, error]
Index: []

In [7]:
df[(df["GT"] == 0) & (df["False GT"] > 0)]

Empty DataFrame
Columns: [origin, GT, False GT, False on GT, PG, WARC, HAR, error]
Index: []

In [8]:
df[df["PG"] > 0]

                   origin  GT  False GT  False on GT  PG  WARC  HAR  error
0  http_localtest.me:8000   1         0            0   1     1    1    NaN

In [9]:
df[df["GT"] == df["PG"]]

                   origin  GT  False GT  False on GT  PG  WARC  HAR  error
0  http_localtest.me:8000   1         0            0   1     1    1    NaN

In [10]:
df[df["GT"] != df["PG"]]

Empty DataFrame
Columns: [origin, GT, False GT, False on GT, PG, WARC, HAR, error]
Index: []

In [11]:
print(len(df[df["GT"] > df["PG"]]))
display(df[df["GT"] > df["PG"]][["origin", "GT", "PG"]])

0

Empty DataFrame
Columns: [origin, GT, PG]
Index: []

In [12]:
print(len(df[(df["GT"] == 0) & (df["PG"] > 0)]))
display(df[(df["GT"] == 0) & (df["PG"] > 0)])

0

Empty DataFrame
Columns: [origin, GT, False GT, False on GT, PG, WARC, HAR, error]
Index: []

In [13]:
print(len(df[(df["GT"] > 0) & (df["PG"] == 0)]))
display(df[(df["GT"] > 0) & (df["PG"] == 0)])

0

Empty DataFrame
Columns: [origin, GT, False GT, False on GT, PG, WARC, HAR, error]
Index: []

In [14]:
df[(df["GT"] > 0) & (df["PG"] == 0)]["origin"].values

array([], dtype=object)